# Menifee
## Lat: 33.6971° N
## Lon: 117.1853° W
## Pop: 106,401 [2021](https://www.census.gov/glossary/#term_Populationestimates)
![Menifee](https://npr.brightspotcdn.com/dims4/default/e446215/2147483647/strip/true/crop/1200x800+0+0/resize/880x587!/quality/90/?url=http%3A%2F%2Fnpr-brightspot.s3.amazonaws.com%2F16%2Ff1%2F94f0763f40f88fd634c43ec8673b%2Fwelcome-menifee.jpg)
Menifee Town Plaque

In [1]:
import pandas as pd

In [5]:
pd.read_csv("c:/Users/4matt/earth-analytics/ea-bootcamp-hometowns/0-csv-files/united_states_menifee.csv")

,who (OPTIONS: cu-student; certificate-student; other),type,country,state,city,latitude,longitude
0,cu-student,where I live now,United States,California,Menifee,33.6971 N,117.1853 W