## Location - 6°12'S, 106°49'E

## Population - 10,562,088

## Landmark - Historic City Hall of Batavia
![Historic City Hall of Batavia](https://upload.wikimedia.org/wikipedia/commons/thumb/1/10/Jakarta_Indonesia_Jakarta-History-Museum-02.jpg/2880px-Jakarta_Indonesia_Jakarta-History-Museum-02.jpg)
* The City Hall of Batavia was the colonial center of the Dutch East India Company in the late 18th Century

# FACT

* Suryaalam12 studied at this town for about 5 years 
You can visit the university profile at <a href="https://universitaspertamina.ac.id/" target="_blank">at this link</a>

In [1]:
import os

import pandas as pd

In [2]:
dataset = pd.read_csv("jakarta-indonesia.csv")

In [3]:
dataset

,who (OPTIONS: cu-student; certificate-student; other),type,country,state,city,latitude,longitude
0,cu-student,place i've visit,indonesia,jakarta,56°12'S,106°49'E.,NaN